@import "tailwindcss";

body {
    font-size: 1rem;
    background-color: blanchedalmond;
}

.code,
.code-class {
    background-color: #333537;
    color: #d4d4d4;
    font-family: monospace;
    font-size: 0.875rem;
    padding: 0.15rem 0.4rem;
    border-radius: 0.25rem;
}

hr {
    color: #817b7b;
}